
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            body{
                width: 98%;
                margin: 0 auto;
            }

        </style>
    </head>
    <body>
        <header>
            <h1 style="float: left;margin-top: -45px">Thinking of New Zealand</h1>
            <h3 style="float: right;margin-top: -40px">Your compalling tag line gose here</h3>
            <div style=" margin-top: 50px;width: 100%; height:250px ;background-image: url(../image/ruler_of_the_land_blood_art_forest_101986_1366x768.jpg); alt: thay ảnh"></div>
        </header>
        <section >
            <nav style="margin-left: 40px;float: left">
                <h3>Thing To Do</h3>
                <ul>
                    <li>Visit</li>
                    <li>Buy & Invest</li>
                    <li>Study</li>
                    <li>Live & Work</li>
                </ul>
                <h3>Sponsor</h3>
                <h3 style="margin-top: -10px">Connect Width US</h3>
                <ul>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>LinkedIn</li>
                    <li>Flick</li>
                </ul>
            </nav>
            <article style="float: left; margin-left: 50px; width: 78%;">           
                    <h3>History</h3>
                        <div style="padding-top: 20px">
                            <img src="/image/fb1d9a772b5fa4a81570857f23936e4d.jpg" alt="thay ảnh vào" style="float: left; width: 150px;height: 140px;">
                            <p style="float: left; padding-top: 10px; padding-left: 10px;">
                                neqgneqongneqgneqongvneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqong <br>
                                neqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqong <br>
                                neqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongne<br>
                                neqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongne
                            </p>
                        </div>       
                
                    <h3 style=" padding-top: 160px">Foreign relation and military</h3>
                    <p style="float: left; padding-top: 10px;">
                        neqgneqongneqgneqongvneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongne <br>
                        qgneqongneqgneqongneqgneqongneqgneqongneqgeqongneqgneqongneqgneqongasfefeqfhneqifbheqifubqiwefubqiwufbiaaasfeagesdfasfaf<br>
                        neqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongnfeqfhneqifbheqifeqfhneqifbe<br>
                        eqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongneqgneqongne
                    </p>
             
            </article>
        </section>
        <footer style="background-color: black; width: 100%; height: 60px; display: inline-block">
            
        </footer>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
