
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <canvas id = "logo" width="300px" height="200px" style="border: 5px solid rgb(0, 255, 136)"></canvas>
        <script >
         var ctx = document.getElementById("logo").getContext("2d");
         ctx.beginPath();
         ctx.moveTo(100,100);
         ctx.lineTo(200,100);
         ctx.lineWidth="2px";
         ctx.strocke();
        </script>

        <canvas id="mycanvas1" height="350px" style=" border: 1px solid red; margin: 0 auto; " width="350px"></canvas>                
        <script>
            var ctx1 = document.getElementById("mycanvas1").getContext("2d");
            ctx1.moveTo(100,200);
            ctx1.lineTo(100,100);
            ctx1.lineTo(150,150);
            ctx1.lineTo(200,100);
            ctx1.lineTo(200,200);
            ctx1.lineTo(20,200);
            ctx1.lineTo(150,200);
            ctx1.lineTo(280,200);
            ctx1.lineTo(150,200);
            ctx1.lineTo(150,250);
            ctx1.lineTo(200,280);
            ctx1.lineTo(200,320);
            ctx1.lineWidth = "30";
            ctx1.strokeStyle = "pink";
            ctx1.stroke();
        </script>

    
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.b0ootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
